%h3
  = h_link_to('Change Password', "help/change_password")
= form_for @user, :url => update_password_path do |f|
  %p
    %strong
      = f.label :password, "New Password"
    %br/
    = f.password_field :password
  %p
    %strong
      = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  = f.submit 'Change Password'
